.board {
    background-color: rgb(190, 216, 216);
    padding: 1em;
}
.actionPanel {
    background-color: lightslategrey;
    padding: 1em;
    box-shadow: inset 2px 2px 10px black;
}

.notesContainer {
    display: flex;
    flex-wrap: wrap;
}